In [1]:
import numpy as np 
import pandas as pd

In [3]:
s = pd.Series([3, -5, 7, 4], index=['a', 'b', 'c', 'd'])
s

a    3
b   -5
c    7
d    4
dtype: int64

In [4]:
data = {'Country': ['Belgium', 'India', 'Brazil'], 'Capital': ['Brussels', 'New Delhi', 'Brasília'],
'Population': [11190846, 1303171035, 207847528]}
data

{'Country': ['Belgium', 'India', 'Brazil'],
 'Capital': ['Brussels', 'New Delhi', 'Brasília'],
 'Population': [11190846, 1303171035, 207847528]}

In [6]:
df = pd.DataFrame(data, columns=['Country', 'Capital', 'Population'])
df

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

In [12]:
# 取值
print(s['b'])
print(df[1:])

-5
  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasília   207847528

In [28]:
"""
选取、布尔索引及设置值
"""
print(df.iloc[[0], [0]])
print(df.loc[[0], ['Country']])
df.sort_values(by='Country')
df.rank()

Country
0  Belgium
   Country
0  Belgium

   Country  Capital  Population
0      1.0      2.0         1.0
1      3.0      3.0         3.0
2      2.0      1.0         2.0

In [32]:
# dataframe的基本信息
print(df.shape)
print(df.index)
print(df.columns) 
df.info()
df.count()

(3, 3)
RangeIndex(start=0, stop=3, step=1)
Index(['Country', 'Capital', 'Population'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     3 non-null      object
 1   Capital     3 non-null      object
 2   Population  3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

Country       3
Capital       3
Population    3
dtype: int64

In [36]:
print(df.sum())
print(df.cumsum())
print(df.min(),df.max()) 
# print(df.idxmin()/df.idxmax())
print(df.describe())
print(df.mean()) 
print(df.median())
# 合计 累计
# 最小值除以最大值
# 索引最小值除以索引最大值 基础统计数据 平均值
# 中位数

Country              BelgiumIndiaBrazil
Capital       BrusselsNew DelhiBrasília
Population                   1522209409
dtype: object
              Country                    Capital  Population
0             Belgium                   Brussels    11190846
1        BelgiumIndia          BrusselsNew Delhi  1314361881
2  BelgiumIndiaBrazil  BrusselsNew DelhiBrasília  1522209409
Country        Belgium
Capital       Brasília
Population    11190846
dtype: object Country            India
Capital        New Delhi
Population    1303171035
dtype: object
         Population
count  3.000000e+00
mean   5.074031e+08
std    6.961346e+08
min    1.119085e+07
25%    1.095192e+08
50%    2.078475e+08
75%    7.555093e+08
max    1.303171e+09
Population    5.074031e+08
dtype: float64
Population    207847528.0
dtype: float64

In [40]:
f = lambda x: x*2  
df1 = df.apply(f)
df2 = df.applymap(f)
print(df,'\n', df1,'\n', df2)

Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528
           Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasíliaBrasília   415695056
           Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasíliaBrasília   415695056

In [ ]:
"""
读写操作
"""

# csv文件的读写
# pd.read_csv('file.csv', header=None, nrows=5)
df.to_csv('myDataFrame.csv')

# excel的读写
pd.read_excel('file.xlsx')
pd.to_excel('dir/myDataFrame.xlsx'sheet_name='Sheet1')

In [9]:
"""
读取和写入SQL查询及数据库表
"""
from sqlalchemy import  create_engine
# engine = create_engine('sqlite://:memory:')
# pd.read_sql("select * from my_table;", engine)